*{
    box-sizing: border-box;
}
body{
    background-color:antiquewhite;
}

main{
    background-color: white;
    height: 50vh;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  repeat(4,1fr);
    grid-gap: 1px;
    
}

    div{
        border-right: 5px solid black;
        border-left: 5px solid black;
        /* background-color: aquamarine;   */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px; 
    }

   
    .header{
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: green;
          
    }
    .content{
        grid-row-start:1 ;
        grid-row-end: 3;
        background-color:blue;
    }
    .nav{
        grid-row-start:1 ;
        grid-row-end: 4;
        background-color:purple;
    }
    .footer{
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: orange;
    }