*{
    box-sizing: border-box;
}
body{
    background-color:white;
    width: 100%;
    display: flex;
}

.start{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: repeat(1,70px);
    background-color: tan;
    color: white;
    gap: 5px;
    align-content:start;
}

.center{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: repeat(1,70px);
    background-color: tan;
    color: white;
    gap: 5px;
    align-content:center;
    margin: 0px 50px;
}
.end{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: repeat(1,70px);
    background-color: tan;
    color: white;
    gap: 5px;
    align-content:end;
}
.header {
    background-color: #2ecc71;
  }
  .content {
    background-color: #3498db;
  }
  .nav {
    background-color: #8e44ad;
  }
  .footer {
    background-color: #f39c12;
  }