.wrapper {
    display: flex;
    height: 500px;
    /* Main Axis */
    justify-content: center;
    /* Cross Axis */
    width: 500px;
    border: 1px solid black;
    /* flex-wrap: wrap; */
}

.box {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(2) {
    flex-basis: 50px;
    background-color: black;
}

.box:nth-child(3) {
    flex-basis: 50px;
    background-color: red;
}