.wrapper {
    display: flex;
    /* Main Axis */
    justify-content: space-around;
    /* Cross Axis */
    align-content: space-around;
    height: 200vh;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}