*{
    box-sizing: border-box;
}
body{
    background-color:white;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.start{
    display: grid;
    width: 500px;
    height: 200px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(1,20px);
    background-color: tan;
    color: white;
    gap: 5px;
    align-content:center;
}

.center{
    display: grid;
    width: 500px;
    height: 200px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(1,20px);
    background-color: tan;
    color: white;
    gap: 5px;
    margin: 50px 0px;
    align-content:center;
}
.end{
    display: grid;
    width: 500px;
    height: 200px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(1,20px);
    background-color: tan;
    color: white;
    gap: 5px;
    align-content:center;
;
}
.header {
    background-color: #2ecc71;
    justify-self: start;

  }
  .content {
    background-color: #3498db;
    justify-self: center;
  }

  .footer {
    background-color: #f39c12;
    justify-self: end;
  }