@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: tomato;
  height: 100%;
  display: flex;
  width: 12%;

  div {
    cursor: pointer;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    &:first-child {
      background-color: #5da3ec;
    }

    &:nth-child(2) {
      background-color: #f64444;
    }

    &:last-child {
      background-color: #ffb400;
    }

    h3 {
      position: fixed;
      top: 10%;
    }

    span {
      display: block;
      transform: rotateZ(90deg);
    }
  }
}

main {
  margin-right: 12%;
  margin-top: 10%;
  background-color: white;

  .main-header {
    p {
      width: 90%;
      padding: 100px 50px;
      font-size: 80px;
      font-weight: 400;
    }

    .img {
      background-image: url('https://source.unsplash.com/random/');
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 110vh;
      margin: 50px 0px;
    }
  }

  .main-contents {
    padding: 100px 50px;

    .main-contents-title {
      font-size: 100px;
      width: 50%;
      line-height: 150px;
    }

    .main-contents-content {
      display: flex;
      justify-content: space-between;

      .main-contents-content-column {
        display: flex;
        flex-direction: column;
        width: 30%;
        font-family: 'Vollkorn', serif;
        font-family: 'Poppins', sans-serif;

        .main-contents-content-img {
          background-image: url('https://source.unsplash.com/random/');
          background-position: center center;
          background-size: cover;
          height: 70vh;
        }

        p {
          margin-top: 30px;
          line-height: 25px;
        }

        span {
          margin-top: 10px;
        }
      }
    }
  }
}

footer {
  margin-right: 12%;
  padding: 50px 50px;

  .footer-vendor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    border-top: 3px dashed black;
    border-bottom: 3px dashed black;
    margin: 30px 0px;

    span {
      cursor: pointer;

      &:first-child {
        font-size: 50px;
      }

      &:last-child {
        font-size: 20px;
        border: 1px solid black;
        padding: 15px 50px;
        margin-top: 20px;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;

    div {
      cursor: pointer;
      border: 1px dashed black;
      padding: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 28%;
      text-align: center;
    }
  }

  .footer-last {
    display: flex;
    padding: 50px 0px;
    width: 100%;

    span {
      cursor: pointer;

      &:nth-child(2) {
        width: 12%;
        border-bottom: 1px solid black;
        width: fit-content;
        margin: 0px 30px;
      }

      &:nth-child(3) {
        border-bottom: 1px solid black;
        width: fit-content;
      }

      &:last-child {
        width: 50%;
        text-align: end;
      }
    }
  }
}
