@import "reset.scss";

* {
    box-sizing: border-box;
}

body {
    padding: 50px;
    height: 200vh;
}

main {

    header {
        width: 90%;

        h1 {
            font-size: 40px;
            line-height: 50px;
        }
    }
}