@import "reset.scss";

* {
    box-sizing: border-box;
}

body {
    padding: 50px;
    height: 200vh;
}

main {

    header {
        width: 90%;

        h1 {
            font-size: 40px;
            line-height: 50px;
        }
    }

    .main_content {
        margin: 150px 0px;

        .main_content_header {
            font-size: 13px;
        }

        .main_content_content {
            font-size: 20px;
        }


        div {
            cursor: pointer;
            border-bottom: 1px solid black;
            display: flex;
            padding: 15px 0px;
            width: 100%;

            span {
                &:first-child {
                    width: 10%;
                }

                &:nth-child(2) {
                    width: 40%;
                }

                &:nth-child(3) {
                    width: 50%;
                }

                &:nth-child(4) {
                    width: 10%;
                }
            }

            i {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

footer {
    width: 100%;

    div {
        line-height: 40px;
        margin: 50px 0px;

        span {
            font-size: 30px;
            font-weight: 400;
        }

        .small {
            font-size: 12px;
        }

        .underline {
            text-decoration: underline;
            cursor: pointer;

            span {
                &:hover {
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
            }
        }
    }

    .footer_footer {
        font-size: 12px;
        height: 100px;
    }
}