@import 'reset.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;

  div {
    &:first-child {
      width: 30%;

      span {
        &:first-child {
          font-weight: 700;
        }

        &:last-child {
          color: gainsboro;
          font-weight: 500;
        }
      }

      &:hover {
        span {
          color: #348844;
        }
      }
    }

    &:last-child {
      width: 70%;
      font-weight: 300;

      span {
        &:hover {
          color: #90bb96;
        }

        margin-right: 10px;
      }
    }

    span {
      cursor: pointer;
    }
  }
}

main {
  margin-top: 55px;
  width: 100%;
  display: flex;

  header {
    background-color: white;
    width: 30%;
    margin-right: 15px;
  }

  .main-contents {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 650px);
    column-gap: 20px;
    row-gap: 80px;
    margin: 0 30px;

    .main-contents-column {
      width: 100%;

      h2 {
        font-weight: 700;
      }

      p {
        padding: 30px 0px;
        font-weight: 300;
        letter-spacing: 1px;
      }

      img {
        width: 100%;
      }

      div {
        margin: 10px 0px;
        color: #348844;
        cursor: pointer;
        font-size: 15px;
        font-weight: 300;

        &:hover {
          color: black;
        }
      }

      span {
        display: block;
        font-weight: 300;
      }

      &:last-child {
        font-weight: 300;

        p {
          padding: 80px 0px;
        }

        h6 {
          margin: 5px 0px;
          color: #348844;
        }

        span {
          margin: 20px 0px;
        }
      }
    }
  }
}
