@import "reset.scss";

* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;

    div {
        &:first-child {
            width: 30%;

            span {

                &:first-child {
                    font-weight: 700;
                }

                &:last-child {
                    opacity: 0.3;
                    font-weight: 500;
                }
            }

            &:hover {
                opacity: 1;
                color: #348844;
            }

        }

        &:last-child {
            width: 70%;
            font-weight: 300;


            span {
                &:hover {
                    color: #90BB96;
                }

                margin-right: 10px;
            }
        }

        span {
            cursor: pointer;


        }


    }
}



main {
    margin-top: 55px;
    width: 100%;
    display: flex;

    header {
        background-color: white;
        width: 30%;
        margin-right: 15px;
    }

    .main_content {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, 650px);


        .main_content_column {
            width: 100%;
            padding-right: 20px;

            // &:nth-child(odd) {}

            // &:nth-child(even) {}

            h2 {
                padding-top: 20px;
                font-weight: 700;
            }

            p {
                padding: 20px 0px;
                font-weight: 300;
                letter-spacing: 1px;
            }

            img {
                width: 100%;
            }

            div {
                margin: 10px 0px;
                color: #348844;
                cursor: pointer;
                font-size: 15px;
                font-weight: 300;

                &:hover {
                    color: black;
                }
            }
        }
    }
}