@import "reset.scss";

* {
    box-sizing: border-box;
}

body {
    background-color: tan;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;

    div {


        &:first-child {
            width: 370px;

            span {

                &:first-child {
                    font-weight: 700;
                }

                &:last-child {
                    opacity: 0.3;
                    font-weight: 500;
                }
            }

            &:hover {
                opacity: 1;
                color: #348844;
            }

        }

        &:last-child {
            font-weight: 300;


            span {
                &:hover {
                    color: #90BB96;
                }

                margin-right: 10px;
            }
        }

        span {
            cursor: pointer;


        }


    }
}