@import "reset.scss";

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    height: 400vh;
}

header {
    display: flex;


    nav {
        background-color: white;
        z-index: 2;
        position: fixed;
        width: 100%;
        top: 0;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 20px;
        box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);


        div {
            margin-right: 20px;

            i {
                font-weight: 300;
                font-size: 20px;
                margin-right: 50px;
            }
        }
    }
}

main {
    width: 100%;
    margin-top: 20px;
    padding: 40px 200px;

    .main_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        img {
            width: 700px;
            height: 500px;
        }

        .main_header_title {
            display: flex;
            flex-direction: row;
            margin: 50px 0px;
            align-items: center;

            h2 {
                display: flex;
                justify-content: center;
                width: 1100px;
                font-size: 32px;
                font-weight: 500;
            }

            i {
                cursor: pointer;
            }
        }

        .main_header_content {
            letter-spacing: 2px;
            font-size: 30px;
            margin: 70px 0px;


            span {
                font-weight: 700;
                font-size: 16px;
                margin-right: 60px;
                width: 300px;
            }

            p {
                display: inline;
            }

            div {
                display: flex;
                cursor: pointer;
                margin-top: 30px;

                span {
                    display: block;

                    &:hover {
                        animation: rightX 0.5s linear forwards;

                    }
                }

                i {
                    font-size: 15px;
                    margin-right: 5px;
                }

            }
        }
    }
}

@keyframes rightX {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}



.main_content_reverse {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-child(even) {

        .main_content_img {
            order: 0;
        }

        .main_content_word {
            order: 1;
            padding-left: 50px;
        }
    }

    .main_content_word {
        div {
            &:first-child {
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 20px;
            }

            &:last-child {
                text-align: center;
                margin-top: 50px;
                border-radius: 30px;
                padding: 10px;
                width: 35%;
                border: 1px solid rgba(0, 0, 0, 0.2);
                cursor: pointer;
                font-weight: 500;

                &:hover {
                    animation: changeColor 0.2s linear forwards;
                }
            }
        }

        p {
            margin: 20px 0px;
            font-size: 30px;
            line-height: 1.3em;
            width: 90%;
        }
    }

    img {
        width: 100%;
    }
}

@keyframes changeColor {
    0% {
        background-color: white;
        color: black;
    }

    100% {
        background-color: black;
        color: white;
    }
}

.main_content_footer {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0px;

    div {
        .main_content_footer_title {
            font-size: 25px;
            font-weight: 500;
        }

        .main_content_footer_content {
            font-size: 15px;
            width: 90%;
            margin: 20px 0px;
        }

        .main_content_footer_last {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            padding: 10px;
            font-size: 12px;
            width: 35%;
            text-align: center;
            cursor: pointer;
            font-weight: 700;

            &:hover {
                animation: changeColor 0.2s linear forwards;
            }
        }
    }
}

footer {
    margin-top: 50px;
    background-color: #464646;
    height: 300px;
    color: white;
    padding: 20px 200px;

    div {
        cursor: pointer;
    }

    .footer_title {
        display: flex;
        justify-content: space-between;
        height: 120px;

        div:first-child {
            font-weight: 700;
            font-size: 30px;
        }
    }


    .footer_content {
        margin: 20px 0px;

        div {
            margin: 5px 0px;
        }
    }

}