@import "_variables.scss";
@import "_mixins.scss";
@import "_buttons.scss";
@import "reset.scss";

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: $red;
    height: 1000vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    color: $red;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 60px;
    width: 40%;
    background-color: $white;

    h1 {
        height: 200px;
        width: 50px;
        font-size: 80px;
        margin: 70px 0px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    h2 {
        margin: 50px 0px;
        font-size: 23px;
        width: 60%;
    }

    p {
        width: 73%;
        margin: 20px 0px;
    }

    ul {
        display: flex;
        justify-content: flex-start;
        width: 75%;
        height: 50px;
        color: black;
        flex-wrap: wrap;
        margin: 10px 0px;

        li {
            margin-right: 10px;
            font-size: 14px;

            opacity: 0.6;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 1);
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    h6 {
        margin: 20px 0px;
        font-size: 11px;
        color: black;
        opacity: 0.4;
        width: 70%;
    }
}

main {
    margin-left: 40%;

    .main_head {
        background-color: $red;
        position: fixed;
        display: flex;
        justify-content: center;
        width: 60%;
        opacity: 0.8;
        top: 0;
        padding: 60px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: white;
        z-index: 2;

        span {
            margin: 0px 5px;

            &:nth-child(even) {

                color: #76150f;
                border-bottom: 1.5px solid #76150f;

                &:hover {
                    color: white;
                    border-bottom: 1.5px solid white;
                }
            }
        }
    }

    .main_content {
        background-color: white;
        height: 30px;
        margin-top: 140px;

        img {
            width: 500px;
        }
    }
}